.flex_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  margin: 0px 0px 10px 30px;
  font-weight: 700;
  width: 575px;
}
.name {
  width: 250px;
}
.status {
  width: 80px;
}
